<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cd.moyu.paper.manager.mapper.MajorMapper">

    <resultMap id="BaseResultMap" type="com.cd.moyu.paper.manager.po.Major">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="majorName" column="major_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,major_name
    </sql>
    <select id="studentCountPerMajor" resultType="com.cd.moyu.paper.manager.dto.MajorStatistic">
        SELECT
            mj.id majorId,mj.major_name majorName,COUNT(*) studentCount
        FROM
            major mj LEFT JOIN student stu
            ON mj.id = stu.major_id
        GROUP BY
            mj.id
    </select>
</mapper>
