<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cd.moyu.paper.manager.mapper.TopicMapper">

    <resultMap id="BaseResultMap" type="com.cd.moyu.paper.manager.po.Topic">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="topicDesc" column="topic_desc" jdbcType="VARCHAR"/>
            <result property="teacherNumber" column="tch_number" jdbcType="VARCHAR"/>
            <result property="limitNumber" column="limit_number" jdbcType="INTEGER"/>
            <result property="limitMajor" column="limit_major" jdbcType="INTEGER"/>
            <result property="publishDate" column="publish_date" jdbcType="TIMESTAMP"/>
            <result property="currentNumber" column="curr_number" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,topic_desc,
        tch_number,limit_number,limit_major,
        publish_date,curr_number
    </sql>
    <select id="pageTopicVo" parameterType="com.cd.moyu.paper.manager.dto.TopicQuery" resultType="com.cd.moyu.paper.manager.vo.TopicVo">
        SELECT
            tpc.id,tpc.title,tpc.topic_desc topicDesc,tch.name teacherName,
            tpc.limit_number limitNumber,mj.major_name majorName,tpc.publish_date publishDate,
            tpc.curr_number currentNumber
        FROM
            topic tpc LEFT JOIN teacher tch
            ON tpc.tch_number = tch.tch_number
            LEFT JOIN major mj
            ON tpc.limit_major = mj.id
        WHERE
            1 = 1
            <if test="query.teacherName != null">
                AND tch.name LIKE concat('%',#{query.teacherName},'%')
            </if>
            <if test="query.majorName != null">
                AND mj.major_name LIKE concat(#{query.majorName}, '%')
            </if>
        ORDER BY
            tpc.publish_date DESC
    </select>
    <select id="selectTopicTitleByTeacherNumber" parameterType="string" resultType="com.cd.moyu.paper.manager.dto.TopicTitle">
        SELECT
            id topicId,title topicTitle
        FROM
            topic
        WHERE
            tch_number = #{teacherNumber}
    </select>
</mapper>
